.PlantMatchListItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  margin: 20px;
  padding-bottom: 20px;
  row-gap: 80px;
}

.PlantMatchListItem button {
  background-color: lightgrey;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  color: black;
  font-weight: 900;
}

.PlantMatchListItem button:hover {
  background-color: rgb(104, 206, 104);
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  font-weight: 900;
}

.PlantMatchListItem img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.PlantMatchListItemLink {
    background-color: rgb(163, 208, 176);
    padding: 10px;
    border-radius: 20px;
}
