.NavBar {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 40px;
  background-color: rgb(219, 237, 214);
  padding: 20px;
}

.NavBar-link {
  margin: 0 10px;
  font: 14px;
  
}

.NavBar-welcome {
  color: palevioletred;
}

a:visited {
  color: black;
}

/* a:hover {
  background-color: cadetblue;
} */
