.SignupForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

input {
  background-color: lightgrey;
  padding: 20px 60px;
  margin: 10px;
}
