.AccountPage {
  margin: 0;
  padding: 20px;
}

.AccountPage-link {
  border-radius: 2vh;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* h1 {
  font-size: 60px;
  margin: 0;
  padding: 0px;
  text-align: center;
} */

.AccountPage img {
  min-height: 90px;
}
